<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>ZVideos Movies</title>
</head>

<body>
<div class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">ZVIDEOS</h1>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item active">Home</li>
                <li class="menu-list-item">Movies</li>
                <li class="menu-list-item">Series</li>
                <li class="menu-list-item">Popular</li>
                <li class="menu-list-item">Trends</li>

            </ul>
        </div>
        <div class="profile-container">
            <img class="profile-picture" src="/img/1.png" alt="">
            <div class="profile-text-container">
                <span class="profile-text">Profile</span>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="toggle">
                <i class="fas fa-moon toggle-icon"></i>
                <i class="fas fa-sun toggle-icon"></i>
                <div class="toggle-ball"></div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <i class="left-menu-icon fas fa-search"></i>
    <i class="left-menu-icon fas fa-home"></i>
    <i class="left-menu-icon fas fa-users"></i>
    <i class="left-menu-icon fas fa-bookmark"></i>
    <i class="left-menu-icon fas fa-tv"></i>
    <i class="left-menu-icon fas fa-hourglass-start"></i>
    <i class="left-menu-icon fas fa-shopping-cart"></i>
</div>
<div class="container">
    <div class="content-container">
        <div class="featured-content"
             th:if="${featuredMovie}"
             th:style="'background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url(' + ${featuredMovie.imagePath} + ');'">
            <h1 th:text="${featuredMovie.title}"></h1>
            <p class="featured-desc" th:text="${featuredMovie.description}"></p>
            <a style="text-decoration: none" th:href="@{/watch/{id}(id=${featuredMovie.id})}" class="featured-button">WATCH</a>
        </div>


        <!--        NEW RELEASES 1-->
        <div class="movie-list-container">
            <h1 class="movie-list-title">NEW RELEASES</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div th:each="movie : ${movies}" class="movie-list-item">
                        <img class="movie-list-item-img" th:src="${movie.imagePath}" alt="">
                        <span class="movie-list-item-title" th:text="${movie.title}"></span>
                        <p class="movie-list-item-desc" th:text="${movie.description}"></p>
                        <button class="movie-list-item-button"><a style="text-decoration: none" th:href="@{/movie/{id}(id=${movie.id})}">Watch</a>
                        </button>
                    </div>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>

        <!-- NEW RELEASES 2 -->
        <div class="movie-list-container">
            <h1 class="movie-list-title">NEW RELEASES</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    <div th:each="movie : ${movies}" class="movie-list-item">
                        <img class="movie-list-item-img" th:src="${movie.imagePath}" alt="">
                        <span class="movie-list-item-title" th:text="${movie.title}"></span>
                        <p class="movie-list-item-desc" th:text="${movie.description}"></p>
                        <button class="movie-list-item-button"><a th:href="@{/movie/{id}(id=${movie.id})}">Watch</a>
                        </button>
                    </div>
                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>

    </div>
</div>
<script src="main.js"></script>
</body>

</html>